
.vs/VSWorkspaceState.json
.vs/grundl-ggende-programmering-konsol-opgaver-alex344b/FileContentIndex/3a3df9cc-e61a-4228-9a17-459ad55150a8.vsidx
.vs/VSWorkspaceState.json
.vs/grundl-ggende-programmering-konsol-opgaver-alex344b/FileContentIndex/3a3df9cc-e61a-4228-9a17-459ad55150a8.vsidx
